
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">							
						<h4>{{ project.name }} - Info</h4>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-primary" data-toggle="modal" data-target="#confirmCancelModal" ng-if="isAdmin() && project.isActive()">Cancel Project</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<strong>
							Name
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.name }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Deadline
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.deadline }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Objective
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.objective }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Description
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.description }}
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Raised Value
						</strong>
					</div>
					<div class="col-md-9">
						<div data-projectId="{{ project.id }}" class="value">
							{{ project.value }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Administrators</h4>							
					</div>
					<div class="col-md-6 text-right">
						<button ng-if="isAdmin() && project.isActive()" class="btn btn-primary" data-toggle="modal" data-target="#addAdminModal">Add Administrator</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="admin in admins" ng-click="openAdminModal(admin)">
							<td>{{ admin.username }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Questions</h4>							
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-primary" data-toggle="modal" ng-if="project.isActive()" data-target="#askQuestionModal">Ask a Question</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-hover" ng-if="project.messages.length>0">
					<thead>
						<tr>
							<th>Subject</th>
							<th>Question</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="message in project.messages" ng-click="openMessageModal(message)">
							<td>{{ message.subject }}</td>
							<td>{{ message.question }}</td>	
							<td>
								<span ng-if="message.response == '' || !message.response">- Por Responder-</span>
								{{ message.response}}
							</td>						
						</tr>
					</tbody>
				</table>
				<p class="text-muted" ng-if="project.messages.length==0">No questions on this project</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default" ng-if="project.paths.length>0">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Paths</h4>
					</div>
					<div class="col-md-6 text-right">
						<button ng-if="loggedIn && project.isActive()" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">Pledge</button>
					</div>
				</div>
				
			</div>
			<div class="panel-body">
				<table class="table table-hover" ng-if="project.paths.length>0">
					<thead>
						<th>id</th>
						<th>Name</th>
						<th>Votes</th>
					</thead>
					<tbody>
						<tr ng-repeat="path in project.paths">
							<td>{{path.id}}</td>
							<td>{{path.name}}</td>
							<td>{{path.description}}</td>
						</tr>
					</tbody>
				</table>
				<p class="text-muted" ng-if="project.paths.length==0">No paths available</p>	
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Rewards</h4>						
					</div>
					<div class="col-md-6 text-right" ng-if="isAdmin() && project.isActive()">
						<button class="btn btn-primary" data-target="#addRewardModal" data-toggle="modal">Add Reward</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-hover" ng-if="project.rewards.length>0">
					<thead>
						<th>Name</th>
						<th>Description</th>
						<th>Minimum Value</th>
					</thead>
					<tbody>
						<tr ng-repeat="reward in project.rewards" ng-click="openRewardModal(reward)">
							<td>{{reward.name}}</td>
							<td>{{reward.description}}</td>
							<td>{{reward.minValue}}</td>
						</tr>
					</tbody>
				</table>
				<p class="text-muted" ng-if="project.rewards.length==0">No paths available</p>	
			</div>
		</div>
		<div class="panel panel-default" ng-if="project.extras.length>0 || isAdmin() && project.isActive()">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Extras</h4>						
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-primary" data-toggle="modal" ng-if="project.isActive()" data-target="#addExtraLevelModal" ng-if="project.value>=project.objective">Add Extra Level</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-hover" ng-if="project.extras.length>0">
					<thead>
						<th>Name</th>
						<th>Minimum Value</th>
					</thead>
					<tbody>
						<tr ng-repeat="extra in project.extras">
							<td>{{ extra.name }}</td>
							<td>{{ extra.minValue }}</td>
						</tr>
					</tbody>
				</table>
				<p class="text-muted">
					No extra levels available
				</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" ng-if="project.isActive()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Pledge {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<h4>
					Choose the path
				</h4>
				<hr>
				<div class="radio" ng-repeat="path in project.paths">					
					<label>
						<input type="radio" value="{{ path.id }}" ng-model="pledge.path" name="pledgePath">
						{{ path.name }}
					</label>
				</div>
				<hr>
				<h4>
					Choose the amount of money
				</h4>
				<hr>
				<div class="radio" ng-repeat="reward in project.rewards">					
					<label>
						<input type="radio" value="{{ reward.minValue }}" ng-model="pledge.value" name="pledgeValue">
						{{ reward.name }} - {{ reward.minValue }} €
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pledgeProject(project)">Pledge</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ask {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<label>Subject</label>
				<input type="text" class="form-control" ng-model="message.subject">
				<label>Question</label>
				<textarea class="form-control" ng-model="message.question"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askQuestion()">Ask Question</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="viewQuestionModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ask {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" id="id" ng-model="message.id">
				<label>Subject</label>
				<input type="text" class="form-control" ng-model="message.subject" readonly id="subject">
				<label>Question</label>
				<textarea class="form-control" ng-model="message.question" readonly id="question"></textarea>
				<div ng-if="isAdmin() && project.isActive() && (message.response == '' || !message.response)">					
					<label>Answer</label>
					<textarea class="form-control" ng-model="message.draftResponse"></textarea>
				</div>
				<div ng-if="message.response && message.response != ''" id="response">
					<label>Answer</label>
					<textarea class="form-control" ng-model="message.response" readonly></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="answerQuestion(message.id)" ng-if="isAdmin() && project.isActive() && (message.response == '' || !message.response)">Answer Question</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addRewardModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Reward</h4>
			</div>
			<div class="modal-body">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="reward.name" id="reward-name">
				<label>Minimum Value</label>
				<input type="text" class="form-control" ng-model="reward.minValue" id="reward-value">
				<label>Description</label>
				<textarea class="form-control" ng-model="reward.description" id="reward-description">					
				</textarea>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addReward()" ng-if="isAdmin() && project.isActive()">Add Reward</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="viewRewardModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ reward.name}}</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" id="id" ng-model="reward.id">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="reward.name" readonly id="reward-name">
				<label>Minimum Value</label>
				<input type="text" class="form-control" ng-model="reward.minValue" readonly id="reward-value">
				<label>Description</label>
				<textarea class="form-control" ng-model="reward.description" readonly id="reward-description">					
				</textarea>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeReward(reward.id)" ng-if="isAdmin() && project.isActive()">Remove Reward</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirmCancelModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Cancel{{ reward.name}}</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelProject(project.id)" ng-if="isAdmin() && project.isActive()">Cancel Project</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="viewAdminModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{admin.username}}</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" id="id" ng-model="admin.id">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="admin.username" readonly id="reward-name">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeAdmin(admin.id)" ng-if="isAdmin() && project.isActive()">Remove Admin</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" ng-if="isAdmin() && project.isActive()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Administrator to {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<label>Utilizador</label>
				<select ng-model="newAdmin" ng-change="changedValue(newAdmin)" class="form-control" ng-options="user as user.username for user in users track by user.username">
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAdmin()">Add Administrator</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addExtraLevelModal" tabindex="-1" role="dialog" ng-if="isAdmin() && project.isActive()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Extra Level to {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<label>Name</label>
				<input type="text" ng-model="extra.name" class="form-control">
				<label>Minimum Value</label>
				<input type="text" ng-model="extra.minValue" class="form-control">
				<label>Description</label>
				<textarea class="form-control" ng-model="extra.description"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addExtraLevel()">Add Extra Level</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->