
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">							
						<h4>{{ project.name }} - Info</h4>
					</div>
					<div class="col-md-6 text-right">
						<button ng-if="loggedIn" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">Pledge</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<strong>
							Name
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.name }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Deadline
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.deadline }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Objective
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.objective }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Description
						</strong>
					</div>
					<div class="col-md-9">
						{{ project.description }}
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<strong>
							Raised Value
						</strong>
					</div>
					<div class="col-md-9">
						100
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Administrators</h4>							
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-primary" data-toggle="modal" data-target="#addAdminModal">Add Administrator</button>
					</div>
				</div>
			</div>
			<div class="panel-body">

			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4>{{ project.name }} - Questions</h4>							
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-primary" data-toggle="modal" data-target="#messageModal">Ask a Question</button>
					</div>
				</div>
			</div>
			<div class="panel-body">

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default" ng-if="project.paths.length>0">
			<div class="panel-heading">
				<h4>{{ project.name }} - Paths</h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<th>id</th>
						<th>Name</th>
						<th>Votes</th>
					</thead>
					<tbody>
						<tr ng-repeat="path in project.paths">
							<td>{{path.id}}</td>
							<td>{{path.name}}</td>
							<td>{{path.description}}</td>
						</tr>
					</tbody>
				</table>		
			</div>
		</div>
		<div class="panel panel-default" ng-if="project.rewards.length>0">
			<div class="panel-heading">
				<h4>{{ project.name }} - Rewards</h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Description</th>
						<th>Value</th>
					</thead>
					<tbody>
						<tr ng-repeat="reward in project.rewards">
							<td>{{reward.name}}</td>
							<td>{{reward.description}}</td>
							<td>{{reward.minValue}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default" ng-if="project.extras.length>0">
			<div class="panel-heading">
				<h4>{{ project.name }} - Info</h4>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Pledge {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				<div class="radio" ng-repeat="reward in project.rewards">
					<label>
						<input type="radio" value="{{ reward.minValue }}" ng-model="pledge.value" name="pledge-value">
						{{ reward.name }} - {{ reward.minValue }} €
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pledgeProject(project)">Pledge</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ask {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Ask Question</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Administrator to {{ project.name}}</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Add Administrator</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->